
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #240606;
  --foreground: #5a3636;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333834;
    --foreground: #e2cfcf;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* .card, p {
 background-color: rgb(47, 73, 73);
 text-decoration-color: #1b0505;
}
.card-header, li{
  background-color: #5a3636;
  text-decoration-color: aliceblue;
  display: inline-block;
} */